html{
    font-size: 62.5%;/*Reset para REMS 62.5%=10px*/
    box-sizing: border-box;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: lato,sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}
/******Globales******/
.contenedor{
    max-width: 34rem;
    margin: 0 auto;
    width: 100%;
}
img{
    max-width: 100%;
    margin: 0;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
h1{
    font-family: lato,sans-serif;
    font-size: 11.5rem;
    font-weight: 700;
}
h2{
   font-size: 1.8rem;
   font-weight: bold;
}
p{
    font-size: 1.4rem;
}
/******Utilidades******/

/******Header******/


